.jumbotron {
	background-image:url('images/helsinki-finland.jpg');
	height: 500px;
}
.jumbotron h1 {
  color: #FFFFFF;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.jumbotron p {
  color: #2C3539;
  font-size: 20px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.more li {
  list-style-type: square;
  color: #0C090A;
  font-size: 30px;  
  font-family: 'Shift', sans-serif;
}

.more p {
  color: #726E6D;
  font-size: 25px;  
  font-family: 'Shift', sans-serif;
}